@font-face {
    font-family: 'Star Jedi';
    src: url(Resources/Starjedi.ttf);
}

.button {
    -fx-font : 14px "Star Jedi";
    -fx-opacity: 1;
    -fx-background-color: #FFE81F;
    -fx-text-fill: #4a5663;
    -fx-background-radius: 0;
}