.button {
    -fx-font : 30px "Helvetica";
    -fx-background-color: #3f6dff;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}
.label {
    -fx-font : 24px "Helvetica";
    -fx-text-fill: #3f6dff;
}